.note {
  font-size: 15px;
}

.error {
  font-size: 15px;
}

input[type='button'] {
  margin-left: 0.5em;
}

.boxButton {
  float: right;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  color: black;
  font-size: 1em;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

a {
  text-decoration: none;
}
